.header-container {
  width: 100%;
  height: 70px;
  background-color: rgb(250, 179, 113);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    h1 {
      margin-left: 30px;
    }
  }
  .btn-container {
    .btn {
      margin-right: 30px;
    }
  }
}
