.login-container {
  width: 100%;
  height: 100vh;
  //   background-color: linear-gradient(135deg, #111010 0%, rgb(32, 28, 28) 100%);
  background-color: rgba(74, 130, 138, 0.13);

  .film {
    position: absolute;
    width: 500px;
    height: 100%;
    z-index: -1;
  }
  .logo {
    font-size: 70px;
    position: absolute;
    top: 50px;
    right: 50px;
  }
  .description {
    font-size: 30px;
    position: absolute;
    top: 180px;
    right: 50px;
    text-align: right;
    width: 1200px;
  }
  .login-form {
    width: 400px;
    position: absolute;
    top: 430px;
    right: 60px;
    .btn-container {
      position: relative;
      .error {
        position: absolute;
        top: 2px;
        right: 0px;
        color: red;
      }
      .btn {
        margin-left: 5px;
        margin-top: 20px;
      }
    }
  }
}
