<app-header></app-header>
<div class="movie-container">
  <div class="top">
    <div class="left">
      <div class="cover">
        <img [src]="movie.cover" alt="" />
      </div>
      <div class="rating">
        <app-star-rating [rating]="movie.rating" [isReadOnly]="false">
        </app-star-rating>
        <p>{{ movie.rating }}</p>
      </div>
      <div class="name">
        <h3>
          {{ movie.name }}
        </h3>
      </div>
    </div>
    <div class="right"></div>
  </div>
  <div class="bottom"></div>
</div>
