.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  .top {
    margin-top: 30px;
    img {
      min-width: 300px;
      min-height: 400px;
      border-radius: 5px;
    }
  }
}
