.home-container {
  display: flex;
  .all-movies {
    width: 75%;
    min-height: calc(100vh - 70px);
    border-right: 1px solid yellow;
    padding: 20px 40px;
    .trending-movies {
      h3 {
        border-left: 5px solid yellow;
      }
      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .movies-thumbnail {
      display: flex;
      flex-wrap: wrap;
      margin: 5px;
      .cover {
        margin-top: 10px;
        padding: 10px;
        img {
          width: 130px;
          border-radius: 5px;
        }
      }
      .details {
        .name {
          padding-left: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 100px;
        }
      }
      .rating {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .popular-movies {
    margin-top: 30px;
    h3 {
      border-left: 5px solid yellow;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .movies-thumbnail {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    .cover {
      margin-top: 10px;
      padding: 10px;
      img {
        width: 130px;
        border-radius: 5px;
      }
    }
    .details {
      .name {
        padding-left: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100px;
      }
    }
    .rating {
      padding-left: 10px;
      display: flex;
      flex-direction: column;
    }
  }
  .All-popular-movies {
    width: 25%;
    min-height: calc(100vh - 70px);
    padding: 0px 20px;
    .details {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        border-radius: 99px;
      }
    }
  }
}
